 <footer class="text-center">

          <div class="d-flex flex-column justify-content-center align-items-center text-white downfooter">
            <p  > &copy; Copyright <span><script>document.write(new Date().getFullYear())</script></span>. All Rights Reserved.&nbsp;</p>
              <p class="text-md-left text-lg-right">Made with
                <i style="color: red" class="fa fa-heart heart"
              alt="love">
                </i>
                by
                  <a href="https://github.com/Sandhiya-Sadhasivam" target="_blank"> Sandhiya Sadhasivam</a>

 &amp; <a href="https://github.com/Rajeshwaran2001" target="_blank">Rajeshwaran
                </a></p>
        </div>



</footer>
