
<nav class="navbar navbar-expand-lg navbar-dark  bg-primary">
	<a href="{% url 'home' %}" class="navbar-brand">Online<b>Quiz</b></a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>
			<a href="{% url 'quiz:quiz-list'  %}" class="nav-item nav-link">Quiz</a>
            <a href="{% url 'quiz:view-leaderboard'  %}" class="nav-item nav-link">Leaderboard</a>
		</div>
        <div class="navbar-nav ml-auto">
             {% if request.user.is_authenticated %}
                  <div >
                <li class="nav-item"><a class="nav-link active"  href="#">Hello &nbsp;&nbsp;{{user.username}}</a></li>
            </div>
                <div >

                 <a href="{% url 'accounts:logout' %}" class="btn btn-danger " style="margin-right: 40px;" >Logout</a>
            </div>

            {% else %}
           	<div >
                 <a href="{% url 'accounts:login' %}" class="btn btn-secondary " style="margin-right: 40px;" >login</a>
            </div>


            {% endif %}
        </div>
        </div>
</nav>


