{% extends 'base.html' %}
{% block content %}


  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

  </style>

<br><br>
<div class="container">

    <table class="table table-bordered table-hover table-dark" id="dev-table">
      <thead class="text-center">
      <th  colspan="3" class="h1" >View Score</th>
        <tr>
            <th>Position</th>
            <th>Name</th>
            <th>Score</th>
        </tr>
      </thead>
      {% for Result in top_quiz_profiles %}
      <tr class="text-center">
          <td>{{ forloop.counter }}</td>
          <td> {{Result.student}}</td>
          <td> {{Result.marks}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>

    <br><br><br><br><br><br>
{% endblock content %}
