{% extends 'base.html' %}
{% block title %}{{ course.course_name }} Score{% endblock %}

{% block content %}
    {% load static %}

<div class="container ">

    <div class="card-columns" style="padding: 10px; margin: 20px;">
        <div class="card" align="centre " style="width: 32rem; border:5px black solid">
            <img class="card-img-top" src="{% static 'img/result.jpg' %}" alt="Card image cap">
            <div class="card-body">
                 {% for t in results %}
                <h5 class="card-title">Score: {{t.marks}}</h5>

                {% endfor %}
            <a class="btn btn-primary" href="{% url 'quiz:view-leaderboard' %}">Leaderboard</a>
                <h5>All the best for next quiz!</h5>
            </div>
        </div>
    </div>

</div>

{% endblock %}
